.divider{
    width: 30px;
}

.body{
    border: solid 1px black;
    border-radius: 10px;
    background-color: white;
}

.price{
    color: red;
}

.delete button{
    background-color:#BEB2AA;
    border: solid 1px black;
    width: 180px;
}

.checkout button{
    background-color:#F9DB6D;
    border: solid 1px black;
    width: 180px;
}
